@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    background: var(--bg-color);
}

h1 {
    color: var(#000);
    padding: 18px 0;
    font-size: 1.75rem;
    text-align: center;
    background: var(--main-color);
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
    color: var(--text-color);
}

.weather-input {
    width: 550px;
}

.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #5372F0;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    color: var(--text-color);
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: var(--bg-color);
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    background: var(--main-color);
    transition: 0.2s ease;
}

.weather-input .search-btn:hover {
    background: rgba(0, 238, 255, 0.692);
}

.weather-input .location-btn {
    background: var(--second-bg-color);
}

.weather-input .location-btn:hover {
    background: #323946da;
}

.weather-input .search-btn {
    color: #000;
}

.weather-data {
    width: 100%;
}

.weather-data .current-weather {
    color: var(--text-color);
    background: var(--main-color);
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.current-weather {
    color: #000;
    display: flex;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    background: var(--main-color);
    justify-content: space-between;
}

.current-weather h2 {
    font-size: 1.7rem;
}

.weather-data h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    list-style: none;
    color: var(--text-color);
    padding: 18px 16px;
    border-radius: 5px;
    background: var(--second-bg-color);
    width: calc(100% / 5);
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}
@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}
@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
    .weather-data h2 {
        font-size: 1.35rem;
    }
}